<% include ../partials/head %>

<main>
  <form action="/add-spot">
    <fieldset>
      <label for="spotname">Spot name</label>
      <input type="text" id="spotname" name="spotname">
    </fieldset>
  </form>
</main>

<% include ../partials/tail %>