body {
  font-family: sans-serif;
  margin: 1em;
}

table {
  border: 1px solid black;
}

td, th {
  padding: 6px 12px;
  &:not(:first-child) {
    text-align: center;
  }
}

th {
  text-align: left;
}
