.light-mode {
  background-color: inherit !important;
  color: inherit !important;
}

#switch-light-dark {
  font-size: 1em;
  box-shadow: none;
  background: none;
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  transition: .5s;
  color: #ffffff;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background-color: #737373;
  }
}

.dark-button {
  color: inherit !important;
  border-color: inherit !important;
  &:hover {
    background-color: #d9d9d9 !important;
  }
}
