main {
  display: grid;
  grid-template-rows: auto;
}

.model {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

article {
  margin-right: 1rem;
}

.legend {
  display: grid;
  grid-template-rows: auto;
}

.legend {
  min-width: 10rem;
  .column {
    div {
      text-align: left;
    }
  }
}

.forecast {
  // min-width: 50rem;

  &-container {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
  }
}


.row, .column {
  padding: 2px 0;
  div {
    // display: inline-block;
    min-width: 1.8rem;
    text-align: center;
    padding: 8px 4px;
    height: 1rem;
    margin: 0 2px 2px 0;
  }
}

.heading {
  margin-bottom: 8px;
  font-weight: bold;
}
